*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 1600px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  margin-right: 50px;
}

.header .nav-logo {
  margin-right: 90px;
}

/*===NAVIGATION===*/

.nav-logo {
  font-family: "Raleway", sans-serif;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  display: flex;
  text-align: center;
}

.nav-logo span {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
}

.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu-item {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-studio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav-studio-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-portfolio-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.contacts-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-tel-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

/*===HERO===*/
.hero > .container {
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2f303a;
}
.title-name {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

btn:hover {
  background-color: var(--primary-white-color);
}
btn:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}
button:focus {
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-btn {
  display: inline-block;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*===OUR ADVANTAGES===*/

.container-second {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.futures-list {
  display: flex;
}

.futures {
  width: 270px;
  margin-right: 30px;
}

.our-advantages {
  padding-top: 94px;
}

.title-advantages {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.text-advantages {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-advantages {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*======OUR WORKING======*/

.container-working {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.working-list-item {
  display: flex;
}

.our-working {
  padding-top: 94px;
}

.our-working-list:not(:last-child) {
  margin-right: 30px;
}

.our-working-list {
  width: 370px;
  box-sizing: border-box;
}

.our-working-img {
  display: flex;
  margin-top: 30px;
}

.working-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*======OUR-TEAM======*/

.container-our-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.our-team-list {
  display: flex;
}

.our-team {
  background-color: #f5f4fa;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  left: calc(50% - 270px / 2 - 450px);
  top: calc(50% - 368px / 2 + 644.5px);
  background: #ffffff;
  margin-right: 30px;
}

.our-team-list-img {
  display: block;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team-list-name {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--main-title-color);
  text-align: center;
}
.our-team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 59px;
  padding-left: 59px;
}

/*======FOOTER======*/

/*======PORTFOLIO=======*/

.button-list {
  display: flex;
  text-align: center;
}
.modal-button {
  padding: 6px 22px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--main-title-color);
  letter-spacing: inherit;

  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

/*PORTFOLIO-GALLERY*/

.portfolio-menu > .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  margin-top: 50px;
}

.p-list-item {
  box-sizing: border-box;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-img {
  display: block;
}

.cart-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.projects-content {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.developer-services {
  color: #ffffff;
}

a {
  display: block;
}

/* ============ FOOTER ============ */
.footer {
  background-color: #2f303a;
}

.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-list-link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-adress-link {
  display: block;

  color: #ffffff;
  text-decoration: none;
}

.header-logo {
  margin-right: 93px;
  color: #000000;
}

.accent-logo {
  color: var(--accent-color);
}
/* ============ FOOTER END ============ */
